components:
  id: Planet
  tag: planet
  transform:
    position: {x: 0, y: 0, z: 0}
    scale: {x: 1.0, y: 1.0, z: 0}
  sprite:
    texture_id: textures/planet00.png
    z_index: 1
    color: {r: 255, g: 255, b: 255, a: 255}
  rigid_body_2d:
    type: static
    gravity_scale: 0
    angular_damping: 0
    linear_damping: 0
  circle_collider_2d:
    radius: 515
    density: 1
    is_trigger: false
    material:
      friction: 0
      bouciness: 0
      rolling_resistance: 0
      tangent_speed: 0
