components:
  id: Player
  tag: player
  transform:
    scale: {x: 0.4, y: 0.4, z: 1}
  rigid_body_2d:
    type: dynamic
    gravity_scale: 0
    angular_damping: 10
    linear_damping: 0
  box_collider_2d:
    density: 1
    is_trigger: false
    enable_events: true
    material:
      friction: 0
      bouciness: 0
      rolling_resistance: 0
      tangent_speed: 0
  circle_collider_2d:
    is_trigger: true
    enable_events: true
    radius: 500
  sprite:
    texture_id: textures/space-shooter-spritesheet.png
    color: {r: 255, g: 255, b: 255, a: 255} 
    z_index: 4
    pivot_point: {x: 0.5, y: 0.5}
  player_input:
    default_scope: gameplay
  scripts:
    - class_id: scripts/PlayerController.lua
      attributes:
        rotation_speed: 0
    - class_id: scripts/Health.lua
      attributes:
        health: 100
